#banner img {
    height: 600px;
    width: 600px;
    object-fit: cover;
    position: absolute;
    opacity: 0.8;
    border-radius: 50%;
    right: 0px;
    top: -160px;
    z-index: -1;
}

@media (max-width: 736px) {
    #banner img {
        height: 250px;
        width: 250px;
        object-fit: cover;
        position: absolute;
        opacity: 0.8;
        border-radius: 50%;
        right: 0px;
        top: -42px;
        z-index: -1;
    }
}

#technologies-list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#technologies-list > div {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
    padding: 25px;
}

#technologies-list > div > i {
    font-size: 100px;
    transition: text-shadow 0.5s ease-in-out;
}

#home-skills:hover i {
    text-shadow: 0px 0px 8px rgb(0, 242, 255);
}

.carousel {
    position: relative;
    overflow: hidden;
}

.carousel img {
    transition: opacity 2s ease-in-out;
}

.carousel .image.main {
    margin: 0px;
}

.carousel .hidden {
    opacity: 0;
    position: absolute;
    top: 0px;
    left: 0px;
}

.carousel .show {
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
}

.carousel ~ p {
    margin-top: 2.5em;
}

#aboutme {
    font-weight: bold;
    border-radius: 20px;
    word-wrap: break-word;
    position: absolute;
    width: 100%;
    font-family: monospace;

    border: none;
    padding: 0px;
    margin: 0px;
}
